<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Réservation</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body class="about">
    <div class="station">
        <p>La gare choisie est {{ session.get('zdc', 'rien du tout') }}</p>
        <div>
            
            <div class="equipements">
                <!-- On affiche les images des différents équipements -->
                {% for equipment in data %}
                    <div class="equipements">
                        {% if equipment.startswith('ascenseur') %}
                            <img id="equipement" src="static/img/ascenseur.png" alt="Ascenseur" title='Ascenseur - {{equipment}}'>
                        {% elif equipment.startswith('escalier') %}
                            <img id="equipement" src="static/img/escalator.png" alt="Escalator" title='Escalator - {{equipment}}'>
                        {% endif %}
                    </div>
                {% endfor %}
                <!-- On met le pousse vers le bas -> redirige vers un signalement / pousse vers le haut -->
                <!-- On met si il a un problème ( warning + explication ) -->
            </div>

            <img id="train" src="static/img/train.png">
        </div>
    </div>
</body>

</html>